body {
    font-family: 'Outfit', sans-serif;
    background-color: #0D192C;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
    
.content__box {
    background-color: #15263F;
    max-width: 350px;
    padding: 24px;
    border-radius: 15px;
    
}



.box__img {
    max-width: 100%;
    border-radius: 8px;
    transition: 0.3s opacity;

}



.box__img:hover {
    opacity: 0.5;
 }

.box__img-container {
    background-color: rgba(0, 255, 248, 1);
    max-height: 350px;
    border-radius: 10px;
    position: relative;    
}



.view__img {
    position: absolute;
    top: 145px;
    left: 150px;
    opacity: 0;
    pointer-events: none;
  
}

.box__img-container:hover .view__img {
    opacity: 1;
}

.box__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
    transition: 0.3s color;
}

.box__title:hover {
    color: #00FFF8;
    cursor: pointer;

}

.box__subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    color: #8BACD9;
    margin: 16px 0 24px;


}

.info {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 47px;
}

.info::after {
    content: "";
    display: block;
    border: 1px solid #2E405A;
    width: 100%;
    position: absolute;
    top:24px;
    margin-top: 24px;
}

.price {
    display: flex;
}
.price__img {
}
.price__cost {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #00FFF8;
    margin-left: 6.49px;

}
.time {
    display: flex;
}
.time__img {
}
.time__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8BACD9;
    margin-left: 9.03px;

}

.creator {
    display: flex;
    align-items: center
}
.creator__img {
    width: 33px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 16px;
}
.creator__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8BACD9;
    
}

.diff__color {
    color: #FFFFFF;
    margin-left: 5px;
}

.diff__color:hover {
    color: #00FFF8;
    cursor: pointer;
}


/*Media*/

@media (max-width: 375px){
    .box__img-container {
        background-color: transparent;
    }
}
